<% provide(:title, @user.name) %>

<section class="container">
      <div class="row">
        <section class="col-sm-4">
          <%= image_tag @user.profile_pic.url(:medium)%>
        </section>
        <section class="col-sm-4">
          <h1 ><%= @user.username %></h1>
          <h2>Member Since: <%= @user.created_at %></h2>
          <h2>Current Balance: <%= number_to_currency(@user.balance, :unit => "€") %> </h2>
        </section>
        <section class="col-sm-4">
          <div class="profile_button">
            <p><%= content_tag(:button, "Add Funds", :type => :submit)%></p>
          </div>
          <div class="profile_button">
           <p><%= content_tag(:button, "Withdraw Funds", :type => :submit)%></p> 
          </div>
        </section>
      </div>
    </section>
<br>
<p>Tournaments Entered: </p>
<p>Tournaments Won: </p>
<br>
<p>Total Paid in: </p>
<p>Total Won: </p>



